.chatContainer {
  max-width: 700px;
  width: 100%;
  margin: 1em auto;
  padding: 0.2em 2em;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.roomName {
  font-weight: bold;
  font-size: 14px;
}

.username {
  font-size: 14px;
  color: #8b9aa6;
}

.messageList {
  overflow-y: auto;
  height: 300px;
  padding: 0 2em;
  text-align: center;
}

.messageList > small {
  font-size: 12px;
  padding: 0 0.5rem 0.3rem 0.5rem;
  border-bottom: 1px solid red;
  margin-bottom: 2rem;
}

.messageForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.plusIcon {
  color: #6bc904;
}

.messageForm input {
  width: 100%;
  height: 50px;
  padding: 1em 2em;
  border: none;
  outline: none;
  background: rgba(139, 154, 166, 0.1);
  border-radius: 30px;
  margin: 0 2em;
  font-size: 14px;
}

.messageForm input::placeholder {
  font-size: 14px;
  color: #8b9aa6;
}
