.message {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.5em;
}

.messageProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 1em 0 0;
}

.messageProfile img {
  width: 30px;
  height: 32px;
}

.messageProfile small {
  font-size: 12px;
}

.messageContent {
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  border-radius: 5px;
}

.date {
  font-size: 12px;
  color: #8b9aa6;
}

.secondaryMessage .messageContent {
  color: #ffff;
  background: #7db6fc;
}

.primaryMessage .messageContent {
  background: #ffffff;
  color: #000000;
  box-shadow: 0px 5px 10px rgba(139, 154, 166, 0.2);
  border-radius: 5px;
}

.secondaryMessage {
  justify-content: flex-start;
}

.primaryMessage {
  justify-content: flex-end;
}

.primaryMessage .date {
  float: right;
}

.secondaryMessage .date {
  float: left;
}
